@mixin border-radius ($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	-o-border-radius: $radius;
	border-radius: $radius;
}

@mixin bp-tablet {
	@media all and (min-width: 600px) {
		@content;
	}
}

@mixin bp-desktop {
	@media all and (min-width: 1366px) {
		@content;
	}
}




