@import 'colors';
@import 'mixins';


$brandColor: #e74c3c;

nav {
	background-color: $brandColor;

	@include bp-tablet {
		background-color: $flat-yellow-1;
		width: 600px;
		margin: 0 auto;
	}

	@include bp-desktop {
		background-color: $flat-green-1;
		width: 1300px;
	}

	img {
		float: left;
	}

	li {
		display: inline-block;
		a {
			color: white;
			text-decoration: none;
			line-height: 50px;
		}
	}

	&:after {
		content: "";
		display: block;
		clear: both;
	}	
}

div {
	width: 100px;
	height: 100px;
	float: left;
	margin: 10px;
}

#box1 {
	background-color: darken($brandColor, 30%)
}

#box2 {
	background-color: darken($brandColor, 20%)
}

#box3 {
	background-color: darken($brandColor, 10%)
}

#box4 {
	background-color: $brandColor;
}

#box5 {
	background-color: lighten($brandColor, 10%);
}

#box6 {
	background-color: lighten($brandColor, 20%);
}

#box7 {
	background-color: lighten($brandColor, 30%);
}

#box8 {
	background-color: lighten($brandColor, 40%);
}

#box9 {
	background-color: mix($brandColor, blue, 30%);
}

/* CSS comment will appear in SCSS and CSS file */
// This is a Sass only comment won't be in CSS, only in SCSS file

#box10 {
	background-color: transparentize($brandColor, .5);
	position: relative;
	right: 80px;
}

%message {
	clear: both;
	display: block;
	width: 400px;
	padding: 10px;
	margin: 10px;
	position: relative;
	@include border-radius(10px);

	&:after {
		content: 'X';
		position: absolute;
		right: 10px;
	}
}

.success {
	@extend %message;
	background-color: transparentize($flat-green-1, .3);
	border: 1px solid transparentize(darken($flat-green-1, 20%), .3);
}

.warning {
	@extend %message;
	background-color: transparentize($flat-orange-1, .3);
	border: 1px solid transparentize(darken($flat-orange-1, 20%), .3);
}

.error {
	@extend %message;
	background-color: transparentize($flat-red-1, .3);
	border: 1px solid transparentize(darken($flat-red-1, 20%), .3);
}

.notice {
	@extend %message;
	background-color: transparentize($flat-purple-1, .3);
	border: 1px solid transparentize(darken($flat-purple-1, 20%), .3);
}










